/* General */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #787878;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 60%;
    height: 600px;
    margin: 50px auto;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
}

main{
    margin-left: 50px;
}

/* header */

header{
    background-color: white;
    height: 90px;
}

.logo-container{
    box-sizing: border-box;
    height: 100px;
    line-height: 100px;
    margin-left: 20px;
}

.logo{
    vertical-align: middle;
}

h1{display: inline;
    font-weight: 700;
    vertical-align: top;
    font-size: 40px;
}

/* Adder */

.adder{
    display: inline-block;
    background-color: white;
    height: 60px;
    margin-left: 50px;
}

#task{
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}

#section{
    background-color: white;
    color: #787878;
    border-radius: 5px;
}

#task,
#section{
    margin-top: 10px;
    height: 40px;
    padding: 0 25px;
}

/* Main */

.new-task{
    margin-top: 30px;
}

h2{
    display: inline;
}

.triangle-down{
    font-size: 20px;
}

li{
    margin: 10px 0px;
    list-style-type: none;
    font-weight: 600;
    color: rgb(43, 42, 42);
}

.true{
    border: 2px solid green;
    border-radius: 50%;
    color: green;
}

.false{
    border: 2px solid red;
    border-radius: 50%;
    color: red;
}

.post-it{
    font-size: 8px;
    width: 20px;
    height: 15px;
    padding: 3px;
    color: white;
    border-radius: 5px;
}

.editorial{
    background-color: dodgerblue;
}

.Q1-goals{
    background-color: blueviolet;
}

.Recruiting{
    background-color: rgb(78, 141, 78);
}

.Mobile{
    background-color: orange;
}

.Website{
    background-color: pink;
}

.Sales{
    background-color: rgb(180, 180, 90);
}